body{
    background-color: rgb(241, 240, 240);
}

#main{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
/* body centered */
#header{
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    background-size: 500px;
    margin: 0;
    width: 100%;
    height: 120px;
}
#logo{
    width: 220px;
    margin-top: 50px;
    margin-left: 10px;
}
#title{
    font-size: 60px;
}
#p1{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
#the_booleaner{
    color:#2c88ad;
}
/*  header section */

#tim_1, #tim_2{
    width: 48%p;
    height: 48%;
}
.marker{
    background-color: yellow;
}
/* p section */

div>p{
    margin: 20px 0 20px 0;
}
#ul{
    margin-left: -20px;
}
#table_header{
    background-color: #20a9e5;
}
#row_1, #table_footer{
    background-color: #b1e5f2;
}
#table{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#table_header{
    color: white;
    height: 10px;
}
td{
    height: 40px;
}
.size{
    width: 220px;
}
/* table section */

#footer_title{
    color: gray;
    margin-top: 25px;
}
footer{
    margin: 5px;
}
.img_descr{
    position: relative;
    font-size: 25px;
    color: white;
    top: 40px;
    left: 10px;
}
/* footer*/