body{
    background-color: rgb(241, 240, 240);
    background-image: url(img/pattern.png);
    margin: 0;
}

#main{
    background-color:rgb(241, 240, 240, 0.9);
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: black solid 1px;
}
/* body centered */
#header{
    background-color: #4ea0ff;
    background-size: 500px;
    opacity: 0.9;
    margin: 0;
    width: 100%;
    height: 120px;
}
#logo{
    width: 220px;
    margin-top: 50px;
    margin-left: 10px;
}
#title{
    font-size: 60px;
    margin: -10px 0px;
}
#p1{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
#the_booleaner{
    color:#2c88ad;
}
/*  header section */

#tim_1, #tim_2{
    width: 49%;
    height: 400px;
    margin: 10px 0px;
}
.marker{
    background-color: yellow;
}
/* p section */

div>p{
    margin: 20px 0 20px 0;
}
#ul{
    margin-left: -20px;
}
#table_header{
    background-color: #20a9e5;
}
#row_1, #table_footer{
    background-color: #b1e5f2;
}
#table{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#table_header{
    color: white;
    height: 10px;
}
td{
    height: 40px;
}
.size{
    width: 220px;
}
/* table section */

#footer_title{
    color: gray;
    margin-bottom: -40px;
}
footer{
    margin: 10px;
}
.img_descr{
    position: relative;
    font-size: 25px;
    color: white;
    top: 40px;
    left: 15px;
}
img{
    margin: -30px 0;
}
/* footer*/